.btns {
    float: right;
    margin-right: 1vw;
}

.preco {
  
    display:flex;
    justify-content: center;
    text-align:center;
}

input {
    width: 20vw;
    text-align: center;
    text-transform: capitalize;
}