    body {
        font-family: Roboto, Arial, sans-serif;
    }
    
    form {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 27vw;
        margin-top: 5vh;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    
    input {
        text-align: center;
        text-transform: uppercase;
    }
    
    button {
        width: auto;
        margin: auto;
        background-image: linear-gradient(45deg, #1FFFE3, #9821FF);
    }
    
    .btns {
        margin-top: 2vh;
        display: flex;
        align-items: center;
        width: 50vw;
    }
    
    #cadastrar {
        background-image: linear-gradient(45deg, rgba(149, 224, 28, 0.952), rgb(33, 255, 162));
    }
    
    #cancelar {
        background-image: linear-gradient(45deg, rgb(253, 0, 0), rgb(223, 65, 25));
    }
    
    textarea {
        height: 15vh;
    }