body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-transform: capitalize;
}

main {
    flex: 1 0 auto;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.content {
    width: 90%;
    text-align: center;
    margin: auto;
}

.modal {
    width: 768px;
    height: 1366px;
}

.modal-content {
    width: 100%;
    height: 100%;
}

table .title {
    font-family: Roboto, Arial, sans-serif;
    background-color: whitesmoke;
    color: rgb(19, 18, 18);
}

.btn {
    height: auto;
}

table {
    box-shadow: 0 0 5px rgb(188, 200, 200);
    border-radius: 2vw;
    background-image: linear-gradient(45deg, cornflowerblue, cyan);
}

#scrolltable {
    height: 330px;
    overflow: auto;
}

#scrolltable th div {
    position: absolute;
    margin-top: -20px;
}

td {
    color: whitesmoke;
    font-size: 1.2em;
}

table {
    height: 10px;
    overflow: auto;
}

table th div {
    background-color: red;
    position: absolute;
}

#excluir {
    background-image: linear-gradient(45deg, rgb(253, 0, 0), rgb(223, 65, 25));
}

#adicionar {
    margin-bottom: 5vh;
    margin-right: 10vw;
    background-image: linear-gradient(100deg, rgba(149, 224, 28, 0.952), rgb(33, 118, 255));
}

#fechar {
    background-image: linear-gradient(45deg, rgb(253, 0, 0), rgb(223, 65, 25));
}

.search {
    width: 40vw;
    margin-left: 10vw;
}

.search input {
    text-align: center;
}

.search #pesquisar {
    text-align: left;
    width: 6vw;
    font-size: 10pt;
    color: var(--font-color);
}