body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;

}
c

img[alt="www.000webhost.com"] {
    display: none;
}

.bar-menu {
    background-image: linear-gradient(to right, #1FFFE3, #9821FF);
}

.tabs {
    margin-top: 10px;
    background-color: transparent;
}

.userView {
    background-image: linear-gradient(to right, #1FFFE3, #9821FF);
}